absl-py
altair
astunparse
attrs
blinker
cachetools
certifi
charset-normalizer
click
colorama
flatbuffers
gast
gitdb
GitPython
google-pasta
grpcio
h5py
idna
Jinja2
jsonschema
jsonschema-specifications
keras
libclang
Markdown
markdown-it-py
MarkupSafe
mdurl
ml_dtypes
namex
narwhals
numpy
opt_einsum
optree
packaging
pandas
pillow
protobuf
pyarrow
pydeck
Pygments
python-dateutil
pytz
referencing
requests
rich
rpds-py
setuptools
six
smmap
streamlit
tenacity
tensorboard
tensorboard-data-server
tensorflow
termcolor
toml
tornado
typing_extensions
tzdata
urllib3
watchdog
Werkzeug
wheel
wrapt
matplotlib
opencv-python
faiss
sentence_transformers
